@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 5, 5, 5;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 5, 5, 5;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.peerConnectionState-new {
  color: cornflowerblue;
}
.peerConnectionState-connecting {
  color: orange;
}
.peerConnectionState-connected {
  color: green;
}
.peerConnectionState-disconnected,
.peerConnectionState-closed,
.peerConnectionState-failed {
  color: red;
}

.iceConnectionState-new {
  color: cornflowerblue;
}
.iceConnectionState-checking {
  color: orange;
}
.iceConnectionState-connected,
.iceConnectionState-completed {
  color: green;
}
.peerConnectionState-disconnected,
.peerConnectionState-closed,
.peerConnectionState-failed {
  color: red;
}

.iceGatheringState-new {
  color: cornflowerblue;
}
.iceGatheringState-gathering {
  color: orange;
}
.iceGatheringState-complete {
  color: grey;
}

.signalingState-stable {
  color: green;
}
.signalingState-have-local-offer,
.signalingState-have-remote-offer,
.signalingState-have-local-pranswer,
.signalingState-have-remote-pranswer {
  color: cornflowerblue;
}
.signalingState-closed {
  color: red;
}

.streamingState-streaming {
  color: green;
}

.streamingState-empty {
  color: grey;
}

/* added css from here */

body * {
  font-family: 'Mulish', sans-serif;
  text-align: center;
}

#xxcontent {
  width: 820px;
  position: relative;
  margin: 0 auto;
}

#buttons {
  clear: both;
  padding: 0 0 0 0;
  text-align: center;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin: 0 5px;
  background-color: #7459fe;
  color: #fff;
}

button:hover {
  background-color: #9480ff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#status {
  clear: both;
  padding: 20px 0 0 0;
  text-align: left;
  display: inline-block;
  zoom: 1;
  line-height: 140%;
  font-size: 15px;
}

#status div {
  padding-bottom: 10px;
}

#xxvideo-wrapper {
  background: url(bg.png);
  height: 500px;
  background-position: top;
}

#xxvideo-wrapper div {
  width: 400px;
  margin: 0 auto;
  padding: 50px 0 0 0;
}
video {
  display: block;
  /*border:1px solid;*/
  border-radius: 50%;
  background-color: #fff;
}

